@model XeMart.Web.ViewModels.Payment.PaymentViewModel

@if (Model.PaymentType == XeMart.Data.Models.Enums.PaymentType.Stripe)
{
    <div class="col-md-7">
        <button id="checkout-button" class="ord-btn">Pay With Stripe</button>
    </div>
    <form method="post" id="antiForgeryForm"></form>
}