@{
    this.ViewData["Title"] = "Privacy Policy";
}

<!-- Privacy -->
<section class="term-condition">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="term-box">
                    <div>
                        <h6><i class="fa fa-angle-right"></i>INTRODUCTION</h6>
                        <p class="mb-2 text-justify">XeMart (“we” or “us” or “our”) respects the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website xemart.azurewebsites.net, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”). Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.</p>
                        <p class="mb-2 text-justify">We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.</p>
                        <p class="mb-2 text-justify">You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted. This privacy policy was created using Termly.</p>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>COLLECTION OF YOUR INFORMATION</h6>
                        <p class="mb-2 text-justify">We may collect information about you in a variety of ways. The information we may collect on the Site includes:</p>
                        <h5 class="mb-2">Personal Data</h5>
                        <p class="mb-2 text-justify">Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or when you choose to participate in various activities related to the Site, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site.</p>
                        <h5 class="mb-2">Derivative Data</h5>
                        <p class="mb-2 text-justify">Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site.</p>
                        <h5 class="mb-2">Financial Data</h5>
                        <p class="mb-2 text-justify">Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site. We store only very limited, if any, financial information that we collect. Otherwise, all financial information is stored by our payment processor, Stripe, and you are encouraged to review their privacy policy and contact them directly for responses to your questions.</p>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>USE OF YOUR INFORMATION</h6>
                        <p class="mb-2 text-justify">Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site to:</p>
                        <ul class="ml-5" style="color: #969696">
                            <li>Administer sweepstakes, promotions, and contests.</li>
                            <li>Assist law enforcement and respond to subpoena.</li>
                            <li>Compile anonymous statistical data and analysis for use internally or with third parties.</li>
                            <li>Create and manage your account.</li>
                            <li>Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and the Site to you.</li>
                            <li>Email you regarding your account or order.</li>
                            <li>Enable user-to-user communications.</li>
                            <li>Fulfill and manage purchases, orders, payments, and other transactions related to the Site.</li>
                            <li>Generate a personal profile about you to make future visits to the Site more personalized.</li>
                            <li>Increase the efficiency and operation of the Site.</li>
                            <li>Monitor and analyze usage and trends to improve your experience with the Site.</li>
                            <li>Notify you of updates to the Site.</li>
                            <li>Offer new products, services, and/or recommendations to you.</li>
                            <li>Perform other business activities as needed.</li>
                            <li>Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</li>
                            <li>Process payments and refunds.</li>
                            <li>Request feedback and contact you about your use of the Site.</li>
                            <li>Resolve disputes and troubleshoot problems.</li>
                            <li>Respond to product and customer service requests.</li>
                            <li>Send you a newsletter.</li>
                            <li>Solicit support for the Site.</li>
                        </ul>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>DISCLOSURE OF YOUR INFORMATION</h6>
                        <p class="mb-2 text-justify">We may share information we have collected about you in certain situations. Your information may be disclosed as follows:</p>
                        <h5 class="mb-2">By Law or to Protect Rights</h5>
                        <p class="mb-2 text-justify">If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.</p>
                        <h5 class="mb-2">Third-Party Service Providers</h5>
                        <p class="mb-2 text-justify">We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.</p>
                        <h5 class="mb-2">Online Postings</h5>
                        <p class="mb-2 text-justify">When you post comments, contributions or other content to the Site, your posts may be viewed by all users and may be publicly distributed outside the Site in perpetuity.</p>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>TRACKING TECHNOLOGIES</h6>
                        <h5 class="mb-2">Cookies</h5>
                        <p class="mb-2 text-justify">We may use cookies and other tracking technologies on the Site to help customize the Site and improve your experience. When you access the Site, your personal information is not collected through the use of tracking technology. Most browsers are set to accept cookies by default. You can remove or reject cookies, but be aware that such action could affect the availability and functionality of the Site.</p>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>SECURITY OF YOUR INFORMATION</h6>
                        <p class="mb-2 text-justify">We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.</p>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>CALIFORNIA PRIVACY RIGHTS</h6>
                        <p class="mb-2 text-justify">California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</p>
                        <p class="mb-2 text-justify">If you are under 18 years of age, reside in California, and have a registered account with the Site, you have the right to request removal of unwanted data that you publicly post on the Site. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Site, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>
                    </div>
                    <div>
                        <h6><i class="fa fa-angle-right"></i>CONTACT US</h6>
                        <p class="mb-2 text-justify">If you have questions or comments about this Privacy Policy, please contact us at: Test Address</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Privacy -->
