@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- Login -->
<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="n-customer">
                    <h5>New Customer</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem est eum earum eius dolores, alias modi aut officia quo perferendis id aspernatur neque provident quas, quidem libero veritatis voluptatum illum!</p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="r-customer">
                    <h5>Already registered?</h5>
                    <p>If you have an account with us, please log in.</p>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="emal">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="pass">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between nam-btm">
                            <div>
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </div>
                        </div>
                        <button type="submit" name="button">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
