@model XeMart.Web.ViewModels.Administration.Subcategories.EditSubcategoryViewModel
@{ ViewData["Title"] = "Edit Subcategory"; }

<div class="shadow card">
    <div class="card-header h3 text-center">@ViewData["Title"]</div>
    <div class="card-body">
        <form asp-area="Administration" asp-controller="Subcategories" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="MainCategoryId" class="control-label"></label>
                    <select asp-for="MainCategoryId" asp-items="Model.MainCategories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))"></select>
                    <span asp-validation-for="MainCategoryId" class="text-danger"></span>
                </div>
            </div>
            <input asp-for="Id" class="form-control" hidden />
            <div class="form-group text-center">
                <button type="submit" value="" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>
